

body {
    background-color: #A3EC9C; 
}

.container {
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 500px 50px;
    grid-gap: 5px; 
    margin-left: 100px;
    margin-right: 100px;

}

.header {
    background-color: #3DC46A; 
    grid-column: 1 / -1;  
    text-align: center; 
}

.menu {
    background-color : #87EB9E;   
}

.content {
    background-color : #63E0B8; 
}

.footer { 
    background-color : #3DC46A; 
    grid-column: 1 / -1; 
}