
html, body {
    background-color: #A3EC9C;
    margin: 10px;
}

.sidebags > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #A3EC9C;
}

.sidebags > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebags{
    display: grid; 
    grid-gap: 5px; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    
}

.bags > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #A3EC9C;
}

.bags > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bags{
    display: grid; 
    grid-gap: 5px; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;

}